.box{
	margin: 10px auto;
	width: 448px;
	height: 448px;
	border: 1px solid #555;
}
.knuckle{
	width: 100px;
	height: 100px;
	margin: 5px;
	border: 1px solid #333;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	font-size: 3em;
	cursor: pointer;
	border-radius: 5px;
}
.zero{
	visibility: hidden;
}