body{
	color: #555;
	min-width: 540px;
	background: url(wall.png) repeat;
	font-family: 'Special Elite', cursive;
}
.box{
	margin: 30px auto 0px;
	padding: 5px;
	width: 450px;
	height: 450px;
	box-shadow: 1px 1px 5px #555;
	border-radius: 5px;
}
.puzzle_cover{
	width: 100%;
	height: 100%;
	background: url(wall.png) repeat;
	z-index: 1;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.puzzle_cover > div{
	font-size: 5em;
	padding-top: 145px;
}
.puzzle_cover > span{
	font-size: 2em;
}
.new_game{
	margin: 10px auto;
	height: 100px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #555;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	background: #6BB14E;
	color: white;
	cursor: pointer;
    display: none;
}
.new_game > div{
	padding-top: 30px;
}
.new_game:hover{
	color: white;
	background: #68AB4D;
}
.switch_sound{
	margin: 30px auto 0px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #555;
	cursor: pointer;
}
.switch_sound_label{
	display: inline-block;
	margin-left: 17%;
}
.switch_sound_img{
    width: 20%;
    height: 20px;
    margin: 5px 10px;
    background: #68AB4D;
    border-radius: 5px;
    display: inline-block;
    float: right;
}
.switch_sound:hover{
	background: #F5F5F5;
}
.time, .moves, .records, .enter_name{
	margin: 30px auto 0px;
	height: 100px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #555;
}
.time-label, .moves_text, .records_label, .enter_name_label, .switch_sound_label{
	padding-top: 5px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
}
.timer, .moves_counter{
	text-align: center;
	font-weight: bold;
	font-size: 4em;
}
.enter_name{
	margin: 10px auto 0px;
}
.moves{
	margin: 10px auto 0px;
}
.records{
	margin: 10px auto 0px;
	height: 228px;
}
.enter_name_label{
	padding-top: 10px;
	letter-spacing: 0px;
}
#enter_name_input{
	margin: 15px 5% 0px;
	height: 40px;
	width: 90%;
}
.knuckle{
	width: 100px;
	height: 100px;
	margin: 5px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	font-size: 3em;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #555;
	background-color:  #F5F5F5;
}
.zero{
	visibility: hidden;
}
.th_name{
	width: 50%;
}
.td_moves{
	text-align: center;
}
.table{
	margin-top: 10px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: inherit;
}

@media screen and (max-width: 991px) {
    .box{
    	margin: 20px auto 0px;
    }
    .time, .moves{
    	margin-top: 20px;
    	width: 215px;
    	height: 80px;
        display: inline-block;
    }
    .timer, .moves_counter{
    	font-size: 3em;
    }
    .enter_name{
    	margin: 10px auto 0px;
    	height: 50px;
    	width: 430px;
    }
    .enter_name_label{
        display: inline-block;
        padding-top: 10px;
        font-weight: bold;
        margin-left: 6%;
    }
    #enter_name_input{
       margin: 8px 2% 0px;
       height: 35px;
       width: 52%;
       display: inline-block;
    }
    .wrapper_right_block{
    	width: 435px;
    	margin: 0 auto;
    }
    .new_game{
	margin: 10px auto;
	height: 50px;
	width: 430px;
	font-size: 1.5em;
    }
    .new_game > div{
	    padding-top: 10px;
    }
    .records, .switch_sound{
    	width: 430px;
    }
}